body {
    margin:0;
    text-align: center;
}
/* layout */
.logo, .highlight, .container-3, .header, footer{
    background: #0A0A0Bff;
    color:#FFF;
}
.header{
    padding: 8%;
    text-align: left;
    
}
.logo{
    display: flex;
    justify-content: space-around;
    padding: 5%;
}
.highlight{
    display: flex;
    padding:0;
}

.container-2 {
    display: flex;
    width: 90%;
    align-items: center;
    background: #2F3138ff;
    color: #FFF;
    padding: 8%;
}

.container-3{
    align-items: left;
    padding:8%;
}

/* button */
.btn {
    padding: 0.35rem 1rem;
    background: yellow;
    text-decoration: none;
}

.btn:hover {
    background: rgb(70, 136, 70);
}

footer ul {
    text-align: center;
}
